.navbar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #EAE8DC;
    width: 100vw;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}
.navbar .logo-main {
    max-width: 200px;
    margin-top: 10px;
    margin-left: 30px;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-right: 50px;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
}
/* .navbar a:hover {
    color: #f55246;
} */

.nav-button {
    background-color: #f55246;
    color: white;
    border-radius: 4px;
    width: 100px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}