.splash-page-top {
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0)), url('https://cdn.pixabay.com/photo/2019/08/21/15/11/farm-4421270_960_720.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tagline {
    color:white;
    font-size: 55px;
    font-weight: 100;
    text-align: center;
    margin-top: 400px;
}

.callout {
    color: white;
    font-weight: 900;
}

.page-button-big {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f34e42;
    color: white;
    font-weight: bolder;
    font-size:large;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.button-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.page-button-big a {
    text-decoration: none;
    justify-self: center;
}

.period {
    color: #f34e42;
}

